body {
  font-family: "Arial", sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  background: linear-gradient(to top right, #f7d6ac, #f7ddbb);
  background-size: 100% 100%;
  background-attachment: fixed;

  scrollbar-width: thin;
  -ms-overflow-style: none;
}

/* Background 2 */
/* @keyframes bg-scrolling-reverse {
  100% { background-position: 50px 50px; }
}

@keyframes bg-scrolling {
  0% { background-position: 50px 50px; }
}

body {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC") repeat 0 0;
  animation: bg-scrolling-reverse .92s infinite;
  animation-timing-function: linear;
}

@-webkit-keyframes bg-scrolling-reverse {
  100% { background-position: 50px 50px; }
}

@-moz-keyframes bg-scrolling-reverse {
  100% { background-position: 50px 50px; }
}

@-o-keyframes bg-scrolling-reverse {
  100% { background-position: 50px 50px; }
}

@-webkit-keyframes bg-scrolling {
  0% { background-position: 50px 50px; }
}

@-moz-keyframes bg-scrolling {
  0% { background-position: 50px 50px; }
}

@-o-keyframes bg-scrolling {
  0% { background-position: 50px 50px; }
} */
